:root {
  font-size: 1.1vw;
  background-color: #F2F2F2;
  --bg-primary: #73695D;
  --bg-secondary: #F2DCC2;
}


html,
body {
  overscroll-behavior-y: none;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
